body
  background #000
  margin 0

h1
  color #eefaff
  font 50px Audiowide, sans-serif
  margin 0
  padding 20px 0
  text-align center
  text-shadow 1px 1px 0 #0ad,
              2px 2px 0 #069,
              3px 3px 0 #035,
              0 0 40px rgba(255, 255, 255, 0.4)

canvas
  display block
  margin 0 auto
